.category-section {
    padding: 3%;
    margin: 10px 20px 16px 20px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(9,1fr);
}
.categories {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    row-gap: 10px;
}
.categories img {
    width: 65px;
}
.categories p {
    font-size: 14px;
    font-weight: 500;
}

@media (max-width:1000px) {
    .category-section {
        grid-template-columns: repeat(5,1fr);
        row-gap: 20px;
    }
}
@media (max-width:580px) {
        .category-section {
            grid-template-columns: repeat(2, 1fr);
        }
        .categories {
            margin-left: auto;
            margin-right: auto;
        }
}